@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500|Roboto+Slab:400,700&display=swap');

html, body{
margin: 0;
font-family: "Be Vietnam";
}
section#big-image{
  background-image: url("images/airplaine_flying.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 75vh;

  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

  margin-top: -53px;
}
#big-image h1{
    font-size: 4em;
    line-height: 40vh;
}
#big-image p{
  font-family: "Roboto Slab";
}
nav{
padding: 5px 0px 5px 0px;
width: 100%;
background-color: #b1eef0;
border-bottom: solid 2px #74c3c6;
transition: background-color .5s;
}
nav:hover{
  background-color: #caf3f5;
}
nav ul li{
display: inline-block;
margin: 0px 5px 0px 5px;
}
nav a {
color: #156163;
text-decoration: none;
}
nav a:hover{
  color: white;
}
.container{
  margin: 10px auto;
  width: 950px;
  max-width: 80%;

  border-top: solid 1px rgb(223, 223, 223);
  border-bottom: solid 1px rgb(233,233,233);
}
